@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* GENERAL */

html {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 100%;
}

main {
  background-color: black;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
}

p {
  line-height: 1.2rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}

.bold {
  font-weight: 800;
}

.marginBot20 {
  margin-bottom: 20px;
}

.loading {
  width: 100vw;
  height: calc(100vh - 93px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading p {
  font-weight: 900;
  font-size: 3rem;
  text-transform: uppercase;
  font-style: italic;
  line-height: 3.3rem;
  text-align: center;
}

#marvel main {
  height: calc(100vh - 93px);
}

/* HOME */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(./img/marvel-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#home .marvel-bg {
  width: 650px;
}

#home .marvel-bg img {
  width: 100%;
}

#home .flexLink a {
  padding: 0px 20px;
}

#home button {
  font-weight: 800;
  font-size: 1.3rem;
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

#home button:hover {
  background-color: white;
  color: black;
}

#home button:active {
  outline: none;
  background-color: #d6d6d6;
}

/* HEADER */

#header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: #00000026 0px 2px 4px 0px;
}

#header img {
  height: 50px;
}

#header a {
  color: initial;
  margin-right: 30px;
}

#header a:hover {
  color: #f12022;
}

#header .headerLink {
  display: flex;
  align-items: center;
}

#header input[type="text"] {
  padding: 13px 13px;
  outline: none;
  border: none;
  background-color: #f5f5f5;
  width: 300px;
}

#header input[type="submit"] {
  padding: 13px 13px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

#header input[type="submit"]:hover {
  background-color: #f12022;
}

#header input[type="submit"]:active {
  background-color: #c71d20;
}

/* PERSONNAGES */
#personnages main,
main#perso,
#comics main,
#favoris main {
  background-color: #f5f5f5;
  color: initial;
}

#personnages .content,
#comics .content {
  padding: 20px;
}

#personnages .content {
  display: flex;
  flex-wrap: wrap;
}

#personnages .content > a {
  width: 200px;
  margin: 20px;
  color: initial;
  background-color: white;
  cursor: pointer;
  box-shadow: #00000026 0px 2px 4px 0px;
  position: relative;
}

#personnages .content > a:hover {
  transform: translateY(-4px);
  box-shadow: #ff000038 0px 15px 15px 0px;
  transition: 0.3s;
}

#personnages .content > a:active {
  transform: translateY(0px);
  box-shadow: #00000026 0px 2px 4px 0px;
}

#personnages .blockImg {
  width: 200px;
  height: 170px;
  overflow: hidden;
}

#personnages .blockImg img {
  width: 160%;
  /* object-position: 0px -50px; */
}

#personnages .blockElement {
  padding: 0 20px 20px 20px;
}

#personnages a .blockElement p {
  font-style: italic;
  line-height: 1.2rem;
  font-size: 1rem;
  text-transform: capitalize;
  color: grey;
}

#personnages .blockElementDesc {
  overflow: hidden;
  height: 40px;
}

/* PAGINATION */
.pagination {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  border: none;
  margin: 5px 10px;
  padding: 5px 5px;
  color: #f11f22;
  font-weight: bold;
  cursor: pointer;
  background: none;
}
.pagination button:hover {
  color: #c71d20;
}

.pagination input {
  width: 30px;
  border: none;
  background-color: #e2e2e2;
  margin-right: 10px;
  padding: 5px 0;
  text-align: center;
}

.pagination input::placeholder {
  color: black;
  text-align: center;
}

/* PERSO */
.blocPerso {
  display: flex;
}

.blocPerso h2 {
  padding: 10px;
  color: white;
  background-color: black;
}

.blocPersoImg {
  width: 50%;
  height: calc(100vh - 93px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.blocPersoDesc {
  width: 50%;
  padding: 20px 20px 20px 40px;
}

.blocPersoDesc hr {
  margin: 20px 0;
  border: 1px solid #dadada;
}

.blocPersoComics img {
  width: 150px;
  margin-right: 20px;
}

.contentPersoComics {
  height: 400px;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
}

.contentPersoComics > div {
  margin-right: 20px;
}

.comicsDesc {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
  width: 45%;
}

.comicsTitle {
  font-size: 1.2rem;
  font-style: italic;
  color: grey;
}

/* COMICS */
#comics .content {
  display: flex;
  flex-wrap: wrap;
}

#comics main .content .blocComics {
  margin: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

#comics .blocComics .blocComicsImg {
  overflow: hidden;
  width: 160px;
  height: 250px;
  border: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#comics .blocComics img {
  height: 250px;
}

#comics .blocComicsText {
  width: 160px;
}

#comics .blocComics p {
  margin-top: 20px;
}

/* FAVORIS STAR */
.star i {
  font-size: 2rem;
}

.starRed i {
  font-size: 2rem;
}

.star {
  position: absolute;
  top: -15px;
  left: -15px;
  color: #d4d4d49c;
}

.starRed {
  position: absolute;
  top: -15px;
  left: -15px;
  color: red;
}

#comics .star {
  position: absolute;
  top: -10px;
  left: -15px;
  color: #d4d4d49c;
}

#comics .starRed {
  position: absolute;
  top: -10px;
  left: -15px;
  color: red;
}

/* FAVORIS */
#favoris main .content {
  padding: 20px;
  height: 100vh;
}

#favoris .favorisElement {
  display: flex;
}

#favoris #favorisPersonnages,
#favoris #favorisComics {
  width: 50%;
}

#favoris #favorisPersonnages {
  margin-right: 20px;
  border-right: 1px solid #80808069;
}

h2 span {
  background-color: black;
  padding: 6px 10px;
  color: white;
}

#favoris h2 {
  margin: 20px 0 50px 0;
}

#favoris .favorisPersoElement {
  display: flex;
}

#favoris .favorisPersoElement > div {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

#favoris .favorisPersoElement img {
  width: 100%;
}

#favorisPersonnages img,
#favorisComics img {
  height: 100px;
}

.ensemblePersonnage,
.ensembleComics {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 49%;
}

.ensembleComics > div {
  height: 100px;
  width: 67px;
  overflow: hidden;
  margin-right: 20px;
}

.ensemblePersonnage > div {
  height: 100px;
  width: 100px;
  overflow: hidden;
  margin-right: 20px;
}

.personnageFlex,
.comicsFlex {
  display: flex;
  flex-wrap: wrap;
}
